/* Tablets */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjust as needed */
        height: auto;
        margin: 0 auto;
        margin-top: 50px; /* Example adjustment */
        margin-bottom: 50px; /* Example adjustment */
        justify-content: center;
    }
}

/* Smartphones */
@media only screen and (max-width: 480px) {
    .container {
        width: 90%; /* Adjust as needed */
        height: auto;
        margin: 0 auto;
        margin-top: 20px; /* Example adjustment */
        margin-bottom: 20px; /* Example adjustment */
        justify-content: center;
    }

    .btn {
        width: 160px; /* Example adjustment */
        margin-left: 50px; /* Example adjustment */
        margin-top: 10px; /* Example adjustment */
    }

    .answer {
        margin-left: 0;
    }

    .scoreboard {
        width: 90%; /* Adjust as needed */
        margin: 0 auto;
        margin-top: 20px; /* Example adjustment */
        margin-bottom: 20px; /* Example adjustment */
    }
}
